<h1>CUSTOMERS</h1>
<div class="alert alert-success" *ngIf="message">{{message}}</div>
<div>
    <!-- <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Avatar</th>
                <th>Status</th>
                <th>Times login failed</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.dateOfBirth | date}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.gender}}</td>
                <td>{{customer.avatar}}</td>
                <td>{{customer.status}}</td>
                <td>{{customer.numOfLoginFailed}}</td>
                <!-- <td><a [routerLink]="[customer.id]" class="btn btn-success">Update</a></td>
                <td><button (click)="deleteCustomer(customer.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table> -->

    <div class="mb-4">
        <button (click)="addCustomer()" class="btn btn-success btn-lg">Add</button>
    </div>
    <table mat-table [dataSource]="customerDataSource" class="customers-table mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let customer"> {{customer.email}} </td>
        </ng-container>
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let customer"> {{customer.phone}} </td>
        </ng-container>
        <!-- Date of Birth Column -->
        <ng-container matColumnDef="dateOfBirth">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Date of Birth</th>
            <td mat-cell *matCellDef="let customer"> {{customer.dateOfBirth | date}} </td>
        </ng-container>
        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let customer"> {{customer.address}} </td>
        </ng-container>
        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let customer"> {{customer.gender}} </td>
        </ng-container>
        <!-- Avatar Column -->
        <ng-container matColumnDef="avatar">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Avatar</th>
            <td mat-cell *matCellDef="let customer"><img src="../../assets/images/{{customer.avatar}}" class="avatar"/></td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let customer"> {{customer.status}} </td>
        </ng-container>
        <!-- Times Login Failed Column -->
        <ng-container matColumnDef="numOfLoginFailed">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Times Login Failed</th>
            <td mat-cell *matCellDef="let customer"> {{customer.numOfLoginFailed}} </td>
        </ng-container>
        <!-- Update -->
        <ng-container matColumnDef="update">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let customer">
                <button mat-raised-button color="primary" (click)="updateCustomer(customer.id)" class="mr-3">Update</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th class="text-center" mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let customer">
                <button mat-raised-button color="warn" (click)="deleteCustomer(customer.id)">Delete</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 25, 30, 35, 40, 45, 50]" showFirstLastButtons></mat-paginator>
</div>